Repository braze-inc/braze-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @josh-mccrowell-braze, @rachel-feinberg, @braze-inc/ingestion, @lydia-xie, @braze-inc/docs-team, @braze-inc/currents

BD-4533 Copy preview link feature
  _docs/_user_guide/message_building_by_channel/email/drag_and_drop/overview.md
  _docs/_user_guide/message_building_by_channel/email/html_editor/creating_an_email_campaign.md
  _docs/_user_guide/message_building_by_channel/email/templates/email_template.md
  _docs/_user_guide/message_building_by_channel/email/templates/html_email_template.md
  _includes/create_content_block.md
  assets/img/dnd_email_link_preview.png
  assets/img_archive/content_block_html_preview_link.png
  assets/img_archive/dnd_content_block_composer.png
  assets/img_archive/dnd_content_block_preview_link.png
  assets/img_archive/html_content_block_composer.png
  assets/img_archive/newEmailTest.png
Owners: none

Add files via upload
  assets/img/landing_pages/lp-optional-required.png
Owners: none

Update creating_pages.md
  _docs/_user_guide/engagement_tools/landing_pages/creating_pages.md
Owners: none

fix redirects
  assets/js/broken_redirect_list.js
Owners: none

BD-4559 Add timezone conversion SQL for Query Builder
  _docs/_user_guide/analytics/query_builder.md
Owners: none

clarification
  _docs/_api/endpoints/messaging/send_messages/post_send_triggered_canvases.md
Owners: @braze-inc/ingestion, @lydia-xie, @braze-inc/docs-team

BD-4574: Add tip alert for copying campaigns across workspaces
  _docs/_user_guide/engagement_tools/messaging_fundamentals/duplicating.md
Owners: none

move paragraph
  _docs/_user_guide/engagement_tools/messaging_fundamentals/duplicating.md
Owners: none

edit
  _docs/_user_guide/engagement_tools/messaging_fundamentals/duplicating.md
Owners: none

add util script
  scripts/utils/remove_link_strings.py
Owners: none

running util script
  _docs/_api/objects_filters/event_object.md
  _docs/_api/objects_filters/purchase_object.md
  _docs/_api/objects_filters/user_attributes_object.md
  _docs/_developer_guide/platforms/legacy_sdks/ios/analytics/logging_purchases.md
  _docs/_developer_guide/platforms/legacy_sdks/ios/analytics/tracking_custom_events.md
  _docs/_developer_guide/platforms/legacy_sdks/ios/initial_sdk_setup/completing_integration.md
  _docs/_developer_guide/platforms/legacy_sdks/ios/initial_sdk_setup/installation_methods/cocoapods.md
  _docs/_developer_guide/platforms/legacy_sdks/ios/news_feed/customization/badges.md
  _docs/_developer_guide/platforms/legacy_sdks/ios/news_feed/integration.md
  _docs/_developer_guide/platforms/legacy_sdks/ios/news_feed/refreshing_the_news_feed.md
  _docs/_developer_guide/platforms/legacy_sdks/ios/sample_apps.md
  _docs/_developer_guide/platforms/legacy_sdks/tvos/initial_sdk_setup.md
  _docs/_developer_guide/references.md
  _docs/_help/release_notes/deprecations/custom_broadcast_receiver.md
  _docs/_help/release_notes/deprecations/eclipse_setup_deprecated.md
  _docs/_hidden/archive_docs/windows_universal/analytics/setting_user_ids.md
  _docs/_partners/message_orchestration/attribution/branch_for_attribution.md
  _docs/_partners/message_orchestration/attribution/kochava.md
  _docs/_partners/message_orchestration/deeplinking/appsflyer/appsflyer.md
  _docs/_user_guide/administrative/app_settings/api_settings_tab.md
  _docs/_user_guide/administrative/privacy/spam_regulations.md
  _docs/_user_guide/data/user_data_collection/sdk_data_collection.md
  _docs/_user_guide/message_building_by_channel/content_cards/about.md
  _docs/_user_guide/message_building_by_channel/email/best_practices/sunset_policies.md
  _docs/_user_guide/message_building_by_channel/sms/sms_laws_and_regulations.md
  _docs/_user_guide/personalization_and_dynamic_content/liquid/conditional_logic.md
  _docs/_user_guide/personalization_and_dynamic_content/liquid/liquid_use_cases.md
  scripts/utils/remove_link_strings.py
Owners: @josh-mccrowell-braze, @rachel-feinberg

running util script on includes
  _includes/archive/appboyBridge.md
  _includes/archive/apple/initial_setup.md
  _includes/developer_guide/android/content_cards.md
  _includes/developer_guide/android/news_feed.md
  _includes/developer_guide/android/push_notifications.md
  _includes/developer_guide/android/sample_apps.md
  _includes/developer_guide/swift/sdk_integration.md
  _includes/developer_guide/web/push_notifications.md
  _includes/developer_guide/web/sdk_integration.md
Owners: none

fix script comments
  scripts/utils/remove_link_strings.py
Owners: none

BD-4439
  _docs/_user_guide/brazeai/intelligence/intelligent_timing.md
  assets/img/intelligent_timing/ab_testing_intelligent_timing.png
  assets/img/intelligent_timing/campaign_scheduling.png
  assets/img/intelligent_timing/first_used_app.png
  assets/img/intelligent_timing/quiet_hours.png
Owners: none

fixing PR diverge
  _docs/_developer_guide/in_app_messages/tutorials.md
  _docs/_developer_guide/in_app_messages/tutorials/accessing_key_values_pairs.md
  _docs/_developer_guide/in_app_messages/tutorials/defer_and_restore_triggered_message.md
  _docs/_developer_guide/in_app_messages/tutorials/display_on_specific_pages.md
Owners: none

Integration for scrolly-coding
  _includes/html_include.html
  _layouts/scrolly.html
  _plugins/scrolly_code_processor.rb
  assets/css/github-dark.scss
  assets/css/scrollycode.scss
  assets/js/scrolly-highlight.js
  assets/js/scrollycode.js
Owners: none

Update _includes/developer_guide/_shared/about_session_lifecycle.md
  _includes/developer_guide/_shared/about_session_lifecycle.md
Owners: none

Apply suggestions from code review
  _includes/developer_guide/swift/geofences.md
Owners: none

Currents Message Engagement Events glossary search fix
  _docs/_user_guide/data/braze_currents/event_glossary/message_engagement_events.md
Owners: none

BD-4598 Update Message Archiving to add MMS
  _docs/_user_guide/data/export_braze_data/message_archiving.md
Owners: none

BD-4589 Add troubleshooting for Access Braze docs
  _docs/_help/help_articles/account.md
  _docs/_help/help_articles/account/locked_out.md
  _docs/_user_guide/administrative/access_braze.md
  _docs/_user_guide/administrative/access_braze/accessing_your_account.md
  _docs/_user_guide/administrative/access_braze/troubleshooting.md
  assets/js/broken_redirect_list.js
Owners: none

Apply suggestions from code review
  _docs/_user_guide/data/export_braze_data/message_archiving.md
Owners: none

BD-4599 Fix partner landing page tiles
  _docs/_partners/data_and_analytics/customer_data_platform/mparticle.md
  _docs/_partners/data_and_analytics/customer_data_platform/tealium.md
  _docs/_partners/data_and_analytics/customer_data_platform/treasure_data.md
  _docs/_partners/data_and_analytics/customer_data_platform/treasure_data/treasure_data_for_currents.md
Owners: none

Fix
  _docs/_partners/data_and_analytics/customer_data_platform/mparticle.md
Owners: none

additonal content updates
  _docs/_user_guide/administrative/app_settings/brand_guidelines.md
  _docs/_user_guide/brazeai/generative_ai/ai_content_qa.md
  _docs/_user_guide/brazeai/generative_ai/ai_copywriting.md
  _docs/_user_guide/brazeai/generative_ai/ai_images.md
  _docs/_user_guide/brazeai/generative_ai/ai_liquid.md
  _docs/_user_guide/brazeai/generative_ai/ai_liquid/ai_liquid_prompts.md
  _docs/_user_guide/brazeai/generative_ai/brand_guidelines.md
  _docs/_user_guide/brazeai/generative_ai/content_qa.md
  _docs/_user_guide/brazeai/generative_ai/copywriting.md
  _docs/_user_guide/brazeai/generative_ai/images.md
  _docs/_user_guide/brazeai/generative_ai/liquid.md
  _docs/_user_guide/brazeai/generative_ai/sql_queries.md
  _docs/_user_guide/engagement_tools/segments/sql_segments.md
  _docs/_user_guide/engagement_tools/templates_and_media/media_library.md
  _includes/generative_ai/about_images.md
  _includes/generative_ai/building_queries.md
  _includes/generative_ai/policy.md
  _includes/image_specs.md
Owners: none

convert sql seg ext to include
  _docs/_user_guide/brazeai/generative_ai/liquid.md
  _docs/_user_guide/brazeai/generative_ai/sql_segment_extensions.md
  _includes/generative_ai/sql_segment_extensions.md
Owners: none

typo
  _includes/generative_ai/sql_segment_extensions.md
Owners: none

Remove courtesy notice.
  _docs/_user_guide/data/custom_data/custom_attributes.md
  _docs/_user_guide/data/custom_data/custom_events.md
Owners: none

Add missing items for GlobalStateChange
  _docs/_user_guide/data/braze_currents/event_glossary/message_engagement_events.md
Owners: none

BD-4613: Scheduled merging GA
  _docs/_user_guide/engagement_tools/segments/user_profiles/duplicate_users.md
Owners: none

Fix inappmessage abort message
  _docs/_user_guide/data/braze_currents/event_glossary/message_engagement_events.md
Owners: none

Update _docs/_user_guide/data/braze_currents/event_glossary/message_engagement_events.md
  _docs/_user_guide/data/braze_currents/event_glossary/message_engagement_events.md
Owners: none

BD-4582 WhatsApp List Messages
  _docs/_user_guide/message_building_by_channel/whatsapp/message_processing/user_messages.md
  _docs/_user_guide/message_building_by_channel/whatsapp/whatsapp_campaign/create.md
  assets/img/whatsapp/action_path_list_message.png
  assets/img/whatsapp/drag_list_order.png
  assets/img/whatsapp/list_content.png
  assets/img/whatsapp/list_message_example.png
  assets/img/whatsapp/list_message_option.png
  assets/img/whatsapp/regex_list_message.png
Owners: none

fix :override_messaging_limits param
  _docs/_api/endpoints/messaging/schedule_messages/post_schedule_messages.md
Owners: none

?
  _docs/_user_guide/message_building_by_channel/whatsapp/whatsapp_campaign/create.md
Owners: none

Admin Settings
  assets/img/deletion_preferences_1.png
  assets/img/elevated_access.png
  assets/img/remember_me.png
  assets/img/scim.png
  assets/img_archive/click_edit_f.png
  assets/img_archive/company_analytics_report_new.png
  assets/img_archive/notification_preferences.png
Owners: none

Company Users
  assets/img/add_new_user_2.png
  assets/img/add_new_user_3.png
  assets/img_archive/delete_user_new.png
  assets/img_archive/suspend_user.png
  assets/img_archive/suspend_user2.png
Owners: none

Screenshot Updates - Rachel - Day 1
  _docs/_user_guide/engagement_tools/segments/creating_a_segment.md
  _docs/_user_guide/message_building_by_channel/email/html_editor/css_inline.md
  _docs/_user_guide/message_building_by_channel/email/html_editor/gmail_promotions_tab.md
  _docs/_user_guide/message_building_by_channel/email/templates/html_email_template.md
  assets/img/copy-content-block.png
  assets/img/create-gmail-promo.png
  assets/img/field_level_encryption.png
  assets/img/gmail_promo_discount_details.png
  assets/img/preview_tab_content_block.png
  assets/img/template_archive_cog.png
  assets/img/unarchive-content-block.png
  assets/img_archive/Segment2.png
  assets/img_archive/css-inline1.png
  assets/img_archive/css-inline2.png
  assets/img_archive/dnd_basic_styling.png
  assets/img_archive/dnd_button_styling.png
  assets/img_archive/dnd_content_block_width.png
  assets/img_archive/dnd_email_template_width.png
  assets/img_archive/dnd_fallbacks.png
  assets/img_archive/dnd_global_style_settings.png
  assets/img_archive/dnd_list_styling.png
  assets/img_archive/dnd_paragraph_styling.png
  assets/img_archive/dnd_title_styling.png
  assets/img_archive/edit_filter_group_name.png
  assets/img_archive/email_setup_rdns_records.png
  assets/img_archive/email_template_id.png
  assets/img_archive/gmail_promo_discount.png
  assets/img_archive/schedule_designated.png
  assets/img_archive/schedule_immediately.png
  assets/img_archive/schedule_intelligent.png
  assets/img_archive/segment_app_selection.png
  assets/img_archive/segmenter_exclusion_groups.png
  assets/img_archive/segmenter_filter_groups.png
  assets/img_archive/send_to_last_device.png
  assets/img_archive/time_designated.png
  assets/img_archive/user_lookup.png
  assets/img_archive/user_lookup_match.png
  assets/img_archive/user_lookup_nomatch.png
Owners: none

Revise SCIM article for flow
  _docs/_user_guide/administrative/app_settings/company_settings/automated_user_provisioning.md
  _docs/_user_guide/administrative/app_settings/company_settings/contact_information.md
  _docs/_user_guide/administrative/app_settings/company_settings/notification_preferences.md
  _docs/_user_guide/administrative/app_settings/company_settings/security_settings.md
  assets/img/scim.png
  assets/img/scim_unfilled.png
Owners: none

Suzanne's edits
  _docs/_user_guide/message_building_by_channel/whatsapp/message_processing/user_messages.md
  _docs/_user_guide/message_building_by_channel/whatsapp/whatsapp_campaign/create.md
Owners: none

.github/CODEOWNERS:

# Changes need to be approved by the Braze docs team

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Use the Code Owners to define who has expertise for specific parts of the docs repository. 
# Define the owners of files and directories in a repository to require owners to approve changes.

# More details are here: https://help.github.com/articles/about-codeowners/

# Support page: Because this article serves as access to the Support team for some customers, it is important that it functions appropriately at all times.

/_docs/_hidden/other/support_contact.md @josh-mccrowell-braze

# Liquid use case library: Validate that new and updated use cases are tested before merging them in. Rachel will validate. Josh is added as code owner in case Rachel is out of office to avoid blockers.

/_docs/_user_guide/personalization_and_dynamic_content/liquid/liquid_use_cases.md @josh-mccrowell-braze @rachel-feinberg

# Ingestion Endpoints: Ingestion owns Data Transformation templates for the following endpoints. They are added as codeowners so they can watch for changes to these endpoints. So their codeownership doesn't block style changes to the docs, Lydia is added as a codeowner as the primary API tech writer. In case she's out, the rest of the Docs Team is also added so that changes are not inappropriately blocked.

/_docs/_api/endpoints/user_data/post_user_track.md @braze-inc/ingestion @lydia-xie @braze-inc/docs-team
/_docs/_api/endpoints/messaging/send_messages/post_send_messages.md @braze-inc/ingestion @lydia-xie @braze-inc/docs-team
/_docs/_api/endpoints/catalogs/catalog_items/synchronous/delete_catalog_item.md @braze-inc/ingestion @lydia-xie @braze-inc/docs-team
/_docs/_api/endpoints/catalogs/catalog_items/synchronous/put_update_catalog_item.md @braze-inc/ingestion @lydia-xie @braze-inc/docs-team
/_docs/_api/endpoints/catalogs/catalog_items/synchronous/patch_catalog_item.md @braze-inc/ingestion @lydia-xie @braze-inc/docs-team
/_docs/_api/endpoints/messaging/send_messages/post_send_triggered_campaigns.md @braze-inc/ingestion @lydia-xie @braze-inc/docs-team
/_docs/_api/endpoints/messaging/send_messages/post_send_triggered_canvases.md @braze-inc/ingestion @lydia-xie @braze-inc/docs-team

# Currents Event Docs: Currents owns event payload auto-generation templates for these endpoints, and are codeowners to be notified when changes are made so that the templates can be kept in-sync.
/_docs/_user_guide/data_and_analytics/braze_currents/event_glossary/customer_behavior_events.md @braze-inc/currents @braze-inc/docs-team
/_docs/_user_guide/data_and_analytics/braze_currents/event_glossary/message_engagement_events.md @braze-inc/currents @braze-inc/docs-team
