Repository braze-inc/braze-docs, pull requests merged in 2025-04, with the labels that each got.

#9323 April 1, 2025 release notes
  _docs/_help/release_notes.md
  _docs/_help/release_notes/2025.md
  _docs/_help/release_notes/2025/4_1_25.md
  assets/img/after_android.png
  assets/img/after_swift.png
  assets/img/before_swift.png
Labels: release notes

#9317 [SDK Docs Audit] Miscellaneous improvements for Swift SDK integrations
  _includes/developer_guide/swift/sdk_integration.md
Labels: sdks-doc-audit

#9385 [PP-4306] add warning banner for user creation behavior
  _docs/_partners/data_and_infrastructure_agility/cohort_import/amplitude.md
  _docs/_partners/data_and_infrastructure_agility/cohort_import/appsflyer_audiences.md
  _docs/_partners/data_and_infrastructure_agility/cohort_import/census.md
  _docs/_partners/data_and_infrastructure_agility/cohort_import/heap.md
  _docs/_partners/data_and_infrastructure_agility/cohort_import/hightouch.md
  _docs/_partners/data_and_infrastructure_agility/cohort_import/kubit.md
  _docs/_partners/data_and_infrastructure_agility/cohort_import/mixpanel.md
  _docs/_partners/data_and_infrastructure_agility/cohort_import/tinyclues.md
Labels: status: in progress

#9436 [SDK Docs Audit] Android Initialization/Debugging
  _docs/_developer_guide/sdk_integration/authentication.md
  _includes/developer_guide/android/sdk_initialization.md
Labels: sdks-doc-audit

#9438 Leftover deploy - April 10, 2025
  _docs/_api/api_limits.md
  _docs/_api/basics.md
  _docs/_api/endpoints/sdk_authentication.md
  _docs/_api/endpoints/sdk_authentication/delete_sdk_authentication_key.md
  _docs/_api/endpoints/sdk_authentication/get_sdk_authentication_keys.md
  _docs/_api/endpoints/sdk_authentication/post_create_sdk_authentication_key.md
  _docs/_api/endpoints/sdk_authentication/put_primary_sdk_authentication_key.md
  _docs/_api/home.md
  _docs/_contributing/troubleshooting.md
  _docs/_contributing/your_first_contribution.md
  _docs/_developer_guide/sdk_integration/authentication.md
  _docs/_partners/data_and_infrastructure_agility/cloud_storage.md
  _docs/_user_guide/data/braze_currents/available_partners.md
  _docs/_user_guide/engagement_tools/canvas/create_a_canvas/canvas_entry_properties_event_properties.md
  _includes/developer_guide/android/sdk_initialization.md
  _lang/de/_includes/aliasing.md
  _lang/de/_includes/appboyBridge.md
  _lang/de/_includes/baidu_deprecation.md
  _lang/de/_includes/best_practices.md
  _lang/de/_includes/content_cards.md
  _lang/de/_includes/create_content_block.md
  _lang/de/_includes/create_transformation.md
  _lang/de/_includes/email-via-sms-warning.md
  _lang/de/_includes/gifs.md
  _lang/de/_includes/http_event_postback.md
  _lang/de/_includes/image_specs.md
  _lang/de/_includes/in_app_message.md
  _lang/de/_includes/in_app_messaging.md
  _lang/de/_includes/inapp_message_troubleshooting.md
  _lang/de/_includes/initial_setup.md
  _lang/de/_includes/message_usage.md
  _lang/de/_includes/metrics.md
  _lang/de/_includes/naming_convention.md
  _lang/de/_includes/permissions.md
  _lang/de/_includes/preference_center_warning.md
  _lang/de/_includes/prerequisites.md
  _lang/de/_includes/release_type.md
  _lang/de/_includes/sdk_auth_alert.md
  _lang/de/_includes/setting_user_ids.md
  _lang/de/_includes/short_and_long_codes.md
  _lang/de/_includes/updating_currents.md
  _lang/de/_includes/web-v4-rename.md
  _lang/de/_includes/windows_deprecation.md
  assets/img/contributing/github/correct_forked_from.png
  assets/img/contributing/github/delete_repository.png
  assets/js/broken_redirect_list.js
Labels: Deploy

#9311 [NOTIX] Android Card Documentation Update
  _includes/developer_guide/android/content_cards.md
Labels: sdks-doc-audit

#9502 Deploy - April 21, 2025
  _docs/_api/endpoints/messaging/schedule_messages/post_schedule_messages.md
  _docs/_developer_guide/analytics/tracking_sessions.md
  _docs/_developer_guide/content_cards/creating_cards.md
  _docs/_developer_guide/content_cards/customizing_cards/behavior.md
  _docs/_developer_guide/content_cards/customizing_cards/feed.md
  _docs/_developer_guide/content_cards/customizing_cards/style.md
  _docs/_developer_guide/content_cards/logging_analytics.md
  _docs/_partners/data_and_analytics/customer_data_platform/mparticle.md
  _docs/_partners/data_and_analytics/customer_data_platform/tealium.md
  _docs/_partners/data_and_analytics/customer_data_platform/treasure_data.md
  _docs/_partners/data_and_analytics/customer_data_platform/treasure_data/treasure_data_for_currents.md
  _docs/_user_guide/data/braze_currents/event_glossary/message_engagement_events.md
  _docs/_user_guide/data/export_braze_data/message_archiving.md
  _docs/_user_guide/engagement_tools/campaigns/building_campaigns/delivery_types/triggered_delivery.md
  _docs/_user_guide/engagement_tools/canvas.md
  _docs/_user_guide/engagement_tools/canvas/troubleshooting.md
  _docs/_user_guide/engagement_tools/segments/user_profiles/duplicate_users.md
  _includes/developer_guide/_shared/about_session_lifecycle.md
  _includes/developer_guide/swift/geofences.md
Labels: Deploy

#9506 Screenshot Updates - Rachel - Day 1
  _docs/_user_guide/engagement_tools/segments/creating_a_segment.md
  _docs/_user_guide/message_building_by_channel/email/html_editor/css_inline.md
  _docs/_user_guide/message_building_by_channel/email/html_editor/gmail_promotions_tab.md
  _docs/_user_guide/message_building_by_channel/email/templates/html_email_template.md
  assets/img/copy-content-block.png
  assets/img/create-gmail-promo.png
  assets/img/field_level_encryption.png
  assets/img/gmail_promo_discount_details.png
  assets/img/preview_tab_content_block.png
  assets/img/template_archive_cog.png
  assets/img/unarchive-content-block.png
  assets/img_archive/Segment2.png
  assets/img_archive/css-inline1.png
  assets/img_archive/css-inline2.png
  assets/img_archive/dnd_basic_styling.png
  assets/img_archive/dnd_button_styling.png
  assets/img_archive/dnd_content_block_width.png
  assets/img_archive/dnd_email_template_width.png
  assets/img_archive/dnd_fallbacks.png
  assets/img_archive/dnd_global_style_settings.png
  assets/img_archive/dnd_list_styling.png
  assets/img_archive/dnd_paragraph_styling.png
  assets/img_archive/dnd_title_styling.png
  assets/img_archive/edit_filter_group_name.png
  assets/img_archive/email_setup_rdns_records.png
  assets/img_archive/email_template_id.png
  assets/img_archive/gmail_promo_discount.png
  assets/img_archive/schedule_designated.png
  assets/img_archive/schedule_immediately.png
  assets/img_archive/schedule_intelligent.png
  assets/img_archive/segment_app_selection.png
  assets/img_archive/segmenter_exclusion_groups.png
  assets/img_archive/segmenter_filter_groups.png
  assets/img_archive/send_to_last_device.png
  assets/img_archive/time_designated.png
  assets/img_archive/user_lookup.png
  assets/img_archive/user_lookup_match.png
  assets/img_archive/user_lookup_nomatch.png
Labels: 2024-docs-brand-refresh

#9507 Screenshot updates - Lydia - Day 1
  _docs/_user_guide/administrative/access_braze/accessing_your_account.md
  _docs/_user_guide/administrative/access_braze/single_sign_on/okta.md
  _docs/_user_guide/administrative/access_braze/single_sign_on/onelogin.md
  _docs/_user_guide/administrative/access_braze/single_sign_on/set_up.md
  _docs/_user_guide/administrative/app_settings/email_settings.md
  _docs/_user_guide/administrative/app_settings/workspaces.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/action_paths.md
  assets/img/Okta/okta1.png
  assets/img/Okta/okta4.png
  assets/img/actionpath_group.png
  assets/img/actionpath_settings.png
  assets/img/canvas_actionpath.png
  assets/img/email_settings/bcc_address.png
  assets/img/email_settings/custom_footer.png
  assets/img/email_settings/custom_opt_in.png
  assets/img/email_settings/custom_unsubscribe.png
  assets/img/email_settings/display_name_address.png
  assets/img/email_settings/email_unsub_header_workspaces.png
  assets/img/email_settings/email_unsubscribe_header.png
  assets/img/email_settings/email_unsubscribe_header_custom.png
  assets/img/email_settings/one_click_list_unsubscribe_message_level.png
  assets/img/email_settings/reply_to_address.png
  assets/img/email_settings/resubscribe_users.png
  assets/img/email_settings/test_and_seed_email_subject_line.png
  assets/img/open_pixel.png
  assets/img/relaystate_troubleshoot.png
  assets/img/samlsso.png
  assets/img/sso1.png
  assets/img/sso3.png
  assets/img/workspaces/app_api_key.png
  assets/img/workspaces/app_live_sdk_version.png
  assets/img/workspaces/users_from_specific_apps_filter.png
  assets/img/workspaces/workspace_add_app.png
  assets/img/workspaces/workspace_create.png
  assets/img/workspaces/workspace_delete.png
  assets/img/workspaces/workspace_empty_state.png
  assets/img/workspaces/workspace_favorites.png
  assets/img/workspaces/workspace_level_permissions_individual.png
  assets/img/workspaces/workspace_level_permissions_set.png
  assets/img/workspaces/workspace_name.png
  assets/img/workspaces/workspace_rename.gif
  assets/img_archive/enable_reset.png
Labels: 2024-docs-brand-refresh

#9505 Screenshot Updates - Bre - Day 1
  _docs/_user_guide/administrative/app_settings/company_settings/automated_user_provisioning.md
  _docs/_user_guide/administrative/app_settings/company_settings/contact_information.md
  _docs/_user_guide/administrative/app_settings/company_settings/notification_preferences.md
  _docs/_user_guide/administrative/app_settings/company_settings/security_settings.md
  _docs/_user_guide/administrative/app_settings/subscription_and_usage.md
  assets/img/add_new_user_2.png
  assets/img/add_new_user_3.png
  assets/img/deletion_preferences_1.png
  assets/img/elevated_access.png
  assets/img/most_used_events_attributes_2.png
  assets/img/most_used_events_attributes_time.png
  assets/img/remember_me.png
  assets/img/scim.png
  assets/img/scim_unfilled.png
  assets/img/subscription_and_billing2.png
  assets/img_archive/click_edit_f.png
  assets/img_archive/company_analytics_report_new.png
  assets/img_archive/delete_user_new.png
  assets/img_archive/notification_preferences.png
  assets/img_archive/suspend_user.png
  assets/img_archive/suspend_user2.png
Labels: 2024-docs-brand-refresh

#9527 Screenshot updates - Lydia - Day 2
  _docs/_user_guide/engagement_tools/canvas/canvas_components/audience_paths.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/decision_split.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/delay_step.md
  assets/img/audience_path/audience_path.png
  assets/img/audience_path/audience_path2.png
  assets/img/audience_path/audience_path3.png
  assets/img/audience_path/audience_path4.png
  assets/img/audience_path/audience_path5.png
  assets/img/banner_cards/banner_card_styles.png
  assets/img/banner_cards/create_placement.png
  assets/img/banner_cards/placement_details_example.png
  assets/img/canvas_delay.png
  assets/img/context_step1.png
  assets/img/context_step2.png
  assets/img/context_step3.png
  assets/img_archive/user_lookup.png
Labels: 2024-docs-brand-refresh

#9479 [DLK-3016] re-generate doc for cue update
  assets/download_file/data-sharing-raw-table-schemas.txt
Labels: In Review

#9537 Screenshot updates - Lydia - Day 3
  _docs/_user_guide/analytics/dashboard/deliverability_center.md
  _docs/_user_guide/engagement_tools/campaigns/ideas_and_strategies/new_features.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/action_paths.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/decision_split.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/delay_step.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/experiment_step.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/experiment_step/personalized_paths.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/experiment_step/winning_path.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/feature_flags.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/message_step.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/user_update.md
  _docs/_user_guide/engagement_tools/canvas/ideas_and_strategies/launching_canvas_flow.md
  _docs/_user_guide/engagement_tools/canvas/ideas_and_strategies/pre_post_launch_checklist.md
  _docs/_user_guide/engagement_tools/canvas/testing_canvases/sending_test_canvases.md
  _docs/_user_guide/engagement_tools/messaging_fundamentals/duplicating.md
  assets/img/canvas_components/message_step1.png
  assets/img/canvas_components/message_step2.png
  assets/img/canvas_components/message_step4.png
  assets/img/decision-split-1.png
  assets/img/define-split-2.png
  assets/img/experiment_step/experiment_personalized_path.png
  assets/img/experiment_step/experiment_personalized_settings.png
  assets/img/experiment_step/experiment_winning_path_recurring.png
  assets/img/experiment_step/experiment_winning_settings.png
  assets/img/experiment_step/experiment_winning_statistical.png
  assets/img/feature_flags/feature_flag_canvas_step.png
  assets/img/feature_flags/feature_flags_canvas_details.png
  assets/img/use-split-onboarding-3.png
  assets/img_archive/canvas_checklist1.png
  assets/img_archive/canvas_test2.png
  assets/img_archive/canvas_user_update_cep.png
  assets/img_archive/canvas_user_update_composer.png
  assets/img_archive/canvas_user_update_increment.png
  assets/img_archive/canvas_user_update_remove.png
  assets/img_archive/canvas_user_update_step.png
  assets/img_archive/canvas_user_update_test_preview.png
  assets/img_archive/canvas_user_update_update.png
  assets/img_archive/canvas_user_update_wishlist.png
  assets/img_archive/deliverability_center1.png
  assets/img_archive/deliverability_center2.png
  assets/img_archive/deliverability_center_msnds.png
  assets/img_archive/launch_with_canvas_flow_example.png
  assets/img_archive/new_app_version.png
Labels: 2024-docs-brand-refresh

#9535 Screenshots - Rachel - Day 3
  _docs/_user_guide/administrative/app_settings/event_user_log_tab.md
  _docs/_user_guide/engagement_tools/landing_pages/creating_pages.md
  _docs/_user_guide/engagement_tools/templates_and_media/faqs.md
  _docs/_user_guide/engagement_tools/templates_and_media/managing_templates.md
  _docs/_user_guide/message_building_by_channel/line/create/message_types.md
  _docs/_user_guide/message_building_by_channel/line/line_users/user_management.md
  _docs/_user_guide/message_building_by_channel/whatsapp/message_processing/user_messages.md
  assets/img/archive_multiple_template.png
  assets/img/duplicate_multiple_template.gif
  assets/img/landing_pages/analytics.png
  assets/img/landing_pages/connect_subdomain.png
  assets/img/landing_pages/copy-url.png
  assets/img/landing_pages/dnd.png
  assets/img/landing_pages/landing-pages-homepage.png
  assets/img/landing_pages/page_container.png
  assets/img/landing_pages/template.png
  assets/img/line/line_card_message.png
  assets/img/line/line_composer.png
  assets/img/line/line_contact_settings.png
  assets/img/line/line_message_types.png
  assets/img/line/line_rich_message.png
  assets/img/line/test_preview.png
  assets/img/line/trigger_word_campaign.png
  assets/img/line/trigger_word_canvas.png
  assets/img/multi-language_support/add_locale_options.png
  assets/img/multi-language_support/custom_attributes_option.png
  assets/img/multi-language_support/default_option.png
  assets/img/template_archive_cog.png
  assets/img/template_duplicate_cog.png
  assets/img/whatsapp/whatsapp14.png
  assets/img/whatsapp/whatsapp15.png
  assets/img/whatsapp/whatsapp16.png
  assets/img/whatsapp/whatsapp18.png
  assets/img/whatsapp/whatsapp25.png
  assets/img/whatsapp/whatsapp27.png
  assets/img_archive/action_based_geofence_trigger.png
  assets/img_archive/api-key-ip-whitelisting.png
  assets/img_archive/expand_data.png
  assets/img_archive/locations_main_screen.png
  assets/img_archive/media_library_crop1.png
  assets/img_archive/media_library_crop2.png
  assets/img_archive/message_activity_log.png
  assets/img_archive/rawlogs.png
Labels: 2024-docs-brand-refresh

#9536 Screenshots – Bre – Day 3
  _docs/_user_guide/brazeai/generative_ai/ai_content_qa.md
  _docs/_user_guide/brazeai/generative_ai/ai_copywriting.md
  _docs/_user_guide/brazeai/generative_ai/ai_copywriting/brand_guidelines.md
  _docs/_user_guide/brazeai/generative_ai/ai_liquid.md
  _docs/_user_guide/personalization_and_dynamic_content/liquid/advanced_filters/message_extras.md
  _docs/_user_guide/personalization_and_dynamic_content/liquid/using_liquid.md
  assets/img/abort-if.png
  assets/img/ai_copywriter/create_brand_guideline_button.png
  assets/img/ai_copywriter/gpt3.png
  assets/img/ai_copywriter/manual_brand_guidelines.png
  assets/img/ai_copywriter/test_brand_guidelines.png
  assets/img/ai_liquid/add_countdown.png
  assets/img/ai_liquid/ai_assistant_icon.png
  assets/img/ai_liquid/ai_assistant_window.png
  assets/img/ai_liquid/improve_my_liquid.png
  assets/img/ai_liquid/inspire_me.png
  assets/img/ai_liquid/use_app_activity.png
  assets/img/content_qa_ai.png
  assets/img/liquid-if-elsif-games.png
  assets/img/liquid-if-totalspend.png
  assets/img/recs/catalog_items.png
  assets/img/value_null.png
  assets/img_archive/custom_attribute_data_type.png
  assets/img_archive/developer_console.png
  assets/img_archive/insert_liquid_var_arrow.png
  assets/img_archive/insert_var_shot.gif
  assets/img_archive/message_extras1.png
  assets/img_archive/message_extras2.png
  assets/img_archive/personalized_firstname_.png
Labels: 2024-docs-brand-refresh

#9552 Leftover deploy pt. 2 - April 25, 2025
  _docs/_user_guide/analytics/query_builder.md
  _docs/_user_guide/brazeai/generative_ai/ai_content_qa.md
  _docs/_user_guide/brazeai/generative_ai/ai_copywriting.md
  _docs/_user_guide/brazeai/generative_ai/ai_copywriting/brand_guidelines.md
  _docs/_user_guide/brazeai/generative_ai/ai_liquid.md
  _docs/_user_guide/data/data_centers.md
  _docs/_user_guide/engagement_tools/canvas/canvas_components/context.md
  _docs/_user_guide/personalization_and_dynamic_content/liquid/advanced_filters/message_extras.md
  _docs/_user_guide/personalization_and_dynamic_content/liquid/using_liquid.md
  _includes/data_centers.md
  assets/img/abort-if.png
  assets/img/ai_copywriter/create_brand_guideline_button.png
  assets/img/ai_copywriter/gpt3.png
  assets/img/ai_copywriter/manual_brand_guidelines.png
  assets/img/ai_copywriter/test_brand_guidelines.png
  assets/img/ai_liquid/add_countdown.png
  assets/img/ai_liquid/ai_assistant_icon.png
  assets/img/ai_liquid/ai_assistant_window.png
  assets/img/ai_liquid/improve_my_liquid.png
  assets/img/ai_liquid/inspire_me.png
  assets/img/ai_liquid/use_app_activity.png
  assets/img/content_qa_ai.png
  assets/img/liquid-if-elsif-games.png
  assets/img/liquid-if-totalspend.png
  assets/img/recs/catalog_items.png
  assets/img/value_null.png
  assets/img_archive/custom_attribute_data_type.png
  assets/img_archive/developer_console.png
  assets/img_archive/insert_liquid_var_arrow.png
  assets/img_archive/insert_var_shot.gif
  assets/img_archive/message_extras1.png
  assets/img_archive/message_extras2.png
  assets/img_archive/personalized_firstname_.png
Labels: Deploy

#9429 [SDK Docs Audit] Android Integrating the SDK
  _includes/developer_guide/android/sdk_integration.md
Labels: sdks-doc-audit

#9417 [SDK Docs Audit] Android Analytics small changes
  _docs/_developer_guide/analytics/logging_channel_data.md
  _docs/_developer_guide/analytics/logging_channel_data/content_cards.md
  _docs/_developer_guide/analytics/logging_channel_data/in_app_messages.md
  _docs/_developer_guide/analytics/logging_channel_data/push_notifications.md
  _docs/_developer_guide/analytics/logging_events.md
  _docs/_developer_guide/analytics/logging_purchases.md
  _docs/_developer_guide/analytics/setting_user_attributes.md
  _docs/_developer_guide/analytics/setting_user_ids.md
  _docs/_developer_guide/content_cards/logging_analytics.md
  _includes/developer_guide/_shared/logging_analytics/content_cards.md
  assets/js/broken_redirect_list.js
Labels: sdks-doc-audit

#9547 Screenshots - Rachel - Day 4
  _docs/_user_guide/engagement_tools/messaging_fundamentals/targeting_users.md
  _docs/_user_guide/engagement_tools/testing/global_control_group.md
  _docs/_user_guide/engagement_tools/testing/random_bucket_numbers.md
  _docs/_user_guide/message_building_by_channel/content_cards/testing.md
  _docs/_user_guide/message_building_by_channel/sms/best_practices/opt-ins.md
  _docs/_user_guide/message_building_by_channel/sms/mms/create.md
  _includes/message_usage.md
  assets/img/app_settings/credit_usage_over_contract1.png
  assets/img/app_settings/sms_credit_consumption2.png
  assets/img/app_settings/sms_table_null3.png
  assets/img/app_settings/whatsapp_credit_consumption4.png
  assets/img/cc-user-preview.png
  assets/img/control_group/control_group1.png
  assets/img/control_group/control_group2.png
  assets/img/control_group/control_group4.png
  assets/img/control_group/control_group5.png
  assets/img/sms/mms_composer.png
  assets/img/sms/mms_preview.png
  assets/img_archive/additional_filters.png
  assets/img_archive/audience_summary.png
  assets/img_archive/cc_debug.png
  assets/img_archive/dnd_iam_phone_capture_select.png
  assets/img_archive/multi_channel_footer.png
  assets/img_archive/random_buckets_filterexample.png
  assets/img_archive/target_segmenter.png
  assets/img_archive/user_lookup.png
Labels: 2024-docs-brand-refresh

#9548 Screenshot updates - Lydia - Day 4 + 5
  _docs/_user_guide/engagement_tools/canvas/create_a_canvas/canvas_by_channel/content-cards_in_canvas.md
  _docs/_user_guide/engagement_tools/canvas/create_a_canvas/canvas_by_channel/in-app_messages_in_canvas.md
  assets/img/canvas_intro/canvas_intro.gif
  assets/img_archive/canvas_expiration2.png
  assets/img_archive/canvas_priority2.png
  assets/img_archive/canvas_trigger_actions.png
  assets/img_archive/content-cards-in-canvas-expiration.png
  assets/img_archive/content-cards-in-canvas-removal-event.png
  assets/img_archive/content-cards-in-canvas.png
Labels: 2024-docs-brand-refresh

#9544 Screenshots – Bre – Day 4 and 5
  _docs/_user_guide/administrative/app_settings/tags.md
  _docs/_user_guide/analytics/dashboard/conversions_dashboard.md
  _docs/_user_guide/analytics/dashboard/deliverability_center.md
  _docs/_user_guide/analytics/dashboard/email_performance_dashboard.md
  _docs/_user_guide/analytics/dashboard/home_dashboard.md
  _docs/_user_guide/analytics/reporting/data_by_segments.md
  _docs/_user_guide/analytics/reporting/viewing_and_understanding_segment_data.md
  _docs/_user_guide/analytics/tracking/uninstall_tracking.md
  _docs/_user_guide/getting_started/web_sdk.md
  assets/img/engagement_by_device_type.png
  assets/img/getting_started/canvas_flow.png
  assets/img/getting_started/segment.png
  assets/img/getting_started/segment_example.png
  assets/img/getting_started/segment_example_breakdown.png
  assets/img/getting_started/user_profile.png
  assets/img/pick_up_where_you_left_off.png
  assets/img/push_ttl.png
  assets/img_archive/A_Tracking_2.png
  assets/img_archive/Influenced_Opens2.png
  assets/img_archive/Revenue.png
  assets/img_archive/Uninstall_Segment.png
  assets/img_archive/campaign_level_uninstall_tracking.png
  assets/img_archive/conversions2_details.png
  assets/img_archive/conversions2_funnel.png
  assets/img_archive/conversions2_over_time.png
  assets/img_archive/dashboard_filters.png
  assets/img_archive/email_performance_dashboard_1.png
  assets/img_archive/email_performance_dashboard_2.png
  assets/img_archive/email_performance_dashboard_3.png
  assets/img_archive/events_over_time2.png
  assets/img_archive/home_dashboard.png
  assets/img_archive/home_dashboard_breakdown.png
  assets/img_archive/home_dashboard_metric_tile.png
  assets/img_archive/home_dashboard_select_date.png
  assets/img_archive/mailbox_provider_time_engagement.png
  assets/img_archive/open_click_user_profile.png
  assets/img_archive/segment_breakdown.png
  assets/img_archive/segment_revenue_multiple.png
  assets/img_archive/segments.png
  assets/img_archive/tag_analytics_page.png
  assets/img_archive/tag_details_page.png
  assets/img_archive/tag_nested.png
  assets/img_archive/tags_add_tag.png
  assets/img_archive/tags_apply_multiple.gif
  assets/img_archive/tags_grid.png
  assets/img_archive/tags_view.png
  assets/img_archive/time_engagement.png
  assets/img_archive/time_engagement_day.png
  assets/img_archive/user_preview.png
  assets/img_archive/web-users-segment.png
Labels: 2024-docs-brand-refresh

#9565 Add example and clarifications for Context step
  _docs/_user_guide/engagement_tools/canvas/canvas_components/context.md
  assets/img/context_example1.png
  assets/img/context_example2.png
Labels: status: do not merge, In Review

#9566 April 29, 2025 Release Notes
  _docs/_help/release_notes.md
  _docs/_help/release_notes/2025.md
  _docs/_help/release_notes/2025/4_29_25.md
Labels: release notes

#9580 Deploy pt. 2 - March 30, 2025
  .github/workflows/ci-prod.yaml
  _docs/_api/endpoints/email/get_list_hard_bounces.md
  _docs/_api/endpoints/messaging.md
  _docs/_api/endpoints/messaging/duplicate_messages.md
  _docs/_api/endpoints/messaging/duplicate_messages/post_duplicate_campaigns.md
  _docs/_api/endpoints/messaging/duplicate_messages/post_duplicate_canvases.md
  _docs/_partners/canvas_audience_sync/facebook_audience_sync.md
  _includes/html_include.html
  _layouts/scrolly.html
  _plugins/scrolly_code_processor.rb
  assets/css/github-dark.scss
  assets/css/scrollycode.scss
  assets/js/broken_redirect_list.js
  assets/js/scrolly-highlight.js
  assets/js/scrollycode.js
Labels: Deploy

#9582 Deploy pt 3 - March 30, 2025
  .github/workflows/ci-prod.yaml
Labels: Deploy
